<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <!-- Keep name="%product.name" and appName="%product.appName". Product Synchronize copies the .product name into both; do not hardcode them. -->
      <product
            application="org.eclipse.chemclipse.rcp.app.ui.org.eclipse.chemclipse.rcp.application"
            name="%product.name">
         <property
               name="windowImages"
               value="icons/logo_16x16.png,icons/logo_32x32.png,icons/logo_48x48.png,icons/logo_64x64.png,icons/logo_128x128.png">
         </property>
         <property
               name="aboutText"
               value="%aboutPlaceholder">
         </property>
         <property
               name="aboutImage"
               value="icons/about_250x330.png">
         </property>
         <property
               name="appName"
               value="%product.appName">
         </property>
         <property
               name="applicationXMI"
               value="platform:/plugin/org.eclipse.chemclipse.rcp.app.ui/Application.e4xmi">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://net.openchrom.rcp.compilation.baijiu.ui/net.openchrom.rcp.compilation.baijiu.ui.lifecycle.BaijiuLifeCycle">
         </property>
         <!-- do not remove; Product Synchronize in the IDE strips this and breaks plant defaults. -->
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         id="net.openchrom.rcp.compilation.baijiu.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <processor
            apply="always"
            beforefragment="true"
            class="net.openchrom.rcp.compilation.baijiu.ui.lifecycle.BaijiuPerspectiveStackProcessor">
      </processor>
      <processor
            apply="always"
            beforefragment="false"
            class="net.openchrom.rcp.compilation.baijiu.ui.lifecycle.BaijiuPlantHomeModelProcessor">
      </processor>
      <fragment
            apply="always"
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="net.openchrom.rcp.compilation.baijiu.ui.splash.EnhancedSplashHandler"
            id="net.openchrom.rcp.compilation.baijiu.ui.splash.enhancedSplashHandler">
      </splashHandler>
      <splashHandlerProductBinding
            productId="net.openchrom.rcp.compilation.baijiu.ui.product"
            splashId="net.openchrom.rcp.compilation.baijiu.ui.splash.enhancedSplashHandler">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <stylesheet
            uri="stylesheets/baijiu-shell.css">
         <themeid
               refid="org.eclipse.e4.ui.css.theme.e4_default">
         </themeid>
         <themeid
               refid="org.eclipse.e4.ui.css.theme.e4_dark">
         </themeid>
      </stylesheet>
   </extension>
</plugin>
